*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#start-quiz {
    
}

input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    font-size: 2.4em;
    border: none;
  }
  
.initials {
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
  }